/* ===== QUIZ PAGE CENTER ===== */
.quiz-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== QUIZ BOX ===== */
.quiz-box {
  width: 90%;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px 180px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

/* ===== QUESTION ===== */
.quiz-question {
  font-size: 22px;
  margin-bottom: 25px;
  color: #ffffffff;
}

/* ===== OPTIONS GRID ===== */
.quiz-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

/* ===== OPTION BUTTON ===== */
.option-btn {
  padding: 15px 60px;
  font-size: 18px;
  background: linear-gradient(135deg, #080052ff, #080075ff);
  border: 2px solid #fcfcfcff;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.option-btn:hover {
  transform: scale(1.05);
  background: #fffb00ff;
  color:black;
}

/* ===== CORRECT ===== */
.option-btn.correct {
  background: #0db607ff;
  border-color: #1daa0aff;
  color: black;
}

/* ===== WRONG ===== */
.option-btn.wrong {
  background: #a10303ff;
  border-color: #860303ff;
  color: white;
}

/* ===== SUBMIT BUTTON ===== */
.quiz-submit {
  margin-top: 25px;
  padding: 12px 35px;
  font-size: 18px;
  color:white;
  border-radius: 25px;
  border: none;
  background: linear-gradient(120deg, #15005fff, #42d136ff);
  cursor: pointer;
  font-weight: bold;
}

.quiz-submit:hover {
  transform: scale(1.1);
}
